In [3]:
import numpy as np

In [18]:
from parse_data import concise_df

df = concise_df('Any')
df.head()

,Bed,Species Count,Item Count,Label Stats,Geo-record Stats,"Labelled, not geo-recorded","Geo-recorded, not labelled",Labelled and Geo-recorded,Not labelled nor geo-recorded,"Labelled, Geo-recorded, Post-Fuzzy"
0,1e+01,5,7,42,0,3,0,0,4,0
1,1e+02,2,3,100,0,3,0,0,0,0
2,1B13,1,1,100,0,1,0,0,0,0
3,1B16,9,15,66,20,7,0,3,5,3
4,1B18,24,39,84,10,29,0,4,6,4

---
# Beds with number names

In [14]:
# number of rows in df
length = len(df.index)

# create uninitialized np array of booleans with length equal to number of df rows
mask = np.empty(shape=length,dtype=bool)

# turn into mask
for i in range(length):
    bed = df.iloc[i,0]
    if len(bed) < 3:
        print(f'Bed name is {bed} of type {type(bed)}.')
        np.put(mask,i,True)
    else:
        np.put(mask,i,False)

df.loc[mask]

Bed name is 1C of type <class 'str'>.
Bed name is 1D of type <class 'str'>.
Bed name is 1G of type <class 'str'>.
Bed name is 1J of type <class 'str'>.
Bed name is 1M of type <class 'str'>.
Bed name is 1R of type <class 'str'>.
Bed name is 2A of type <class 'str'>.
Bed name is 3A of type <class 'str'>.
Bed name is F of type <class 'str'>.

,Bed,Species Count,Item Count,Label Stats,Geo-record Stats,"Labelled, not geo-recorded","Geo-recorded, not labelled",Labelled and Geo-recorded,Not labelled nor geo-recorded,"Labelled, Geo-recorded, Post-Fuzzy"
22,1C,1,1,0,0,0,0,0,1,0
27,1D,22,22,0,4,0,1,0,21,0
43,1G,1,1,0,0,0,0,0,1,0
48,1J,51,97,62,5,58,2,3,34,2
66,1M,1,1,0,0,0,0,0,1,0
78,1R,6,6,33,0,2,0,0,4,0
83,2A,7,7,100,0,7,0,0,0,0
97,3A,1,2,100,0,2,0,0,0,0
251,F,12,13,53,0,7,0,0,6,0

---
# Nursery, Herbarium, Nitobe, Garden Components

In [15]:
# number of rows in df
length = len(df.index)

# create uninitialized np array of booleans with length equal to number of df rows
mask = np.empty(shape=length,dtype=bool)

# turn into mask
for i in range(length):
    bed = df.iloc[i,0]
    if len(bed) < 4:
        np.put(mask,i,True)
    else:
        np.put(mask,i,False)

df.loc[mask]

,Bed,Species Count,Item Count,Label Stats,Geo-record Stats,"Labelled, not geo-recorded","Geo-recorded, not labelled",Labelled and Geo-recorded,Not labelled nor geo-recorded,"Labelled, Geo-recorded, Post-Fuzzy"
22,1C,1,1,0,0,0,0,0,1,0
27,1D,22,22,0,4,0,1,0,21,0
43,1G,1,1,0,0,0,0,0,1,0
48,1J,51,97,62,5,58,2,3,34,2
66,1M,1,1,0,0,0,0,0,1,0
78,1R,6,6,33,0,2,0,0,4,0
83,2A,7,7,100,0,7,0,0,0,0
97,3A,1,2,100,0,2,0,0,0,0
251,F,12,13,53,0,7,0,0,6,0
263,LAM,169,231,99,3,223,0,7,1,7
279,LFE,34,36,100,11,32,0,4,0,4

# Ancient (long-forgotten) accessions

In [19]:
from parse_data import raw_df

df = raw_df('Any')
df.head()

,Bed,Label,Geo?,Days elapsed since ItemStatusDate,Taxon
0,1e+01,False,False,6502,Quercus ilex
1,1e+01,False,False,6502,Fagus sylvatica 'Asplenifolia'
2,1e+01,False,False,6243,Hypericum calycinum
3,1e+01,False,False,6498,Quercus palustris
4,1e+01,True,False,535,Prunus 'Pink Perfection'

In [21]:
# number of rows in df
length = len(df.index)

# create uninitialized np array of booleans with length equal to number of df rows
mask = np.empty(shape=length,dtype=bool)

# turn into mask
for i in range(length):
    days = df.iloc[i,3]
    if days > 3000:
        np.put(mask,i,True)
    else:
        np.put(mask,i,False)

df.loc[mask]

,Bed,Label,Geo?,Days elapsed since ItemStatusDate,Taxon
0,1e+01,False,False,6502,Quercus ilex
1,1e+01,False,False,6502,Fagus sylvatica 'Asplenifolia'
2,1e+01,False,False,6243,Hypericum calycinum
3,1e+01,False,False,6498,Quercus palustris
16,1B16,False,False,5428,Woodwardia fimbriata
...,...,...,...,...,...
10400,FS03,False,False,5724,Picea jezoensis subsp. hondoensis
10401,FS03,False,False,5562,Picea asperata
10402,FS03,False,False,5724,Picea brachytyla
10404,FS03,False,False,5746,Picea jezoensis var. microsperma
10407,FS04,False,False,5667,Aesculus indica

# Alpine garden code 1A is obsoleted by L

In [7]:
# number of rows in df
length = len(df.index)

# create uninitialized np array of booleans with length equal to number of df rows
mask = np.empty(shape=length,dtype=bool)

# turn into mask
for i in range(length):
    bed = df.iloc[i,0]
    if bed.startswith('1E'):
        np.put(mask,i,True)
    else:
        np.put(mask,i,False)

df.loc[mask]

Empty DataFrame
Columns: [Bed, Species Count, Item Count, Label Stats, Geo-record Stats, Labelled, not geo-recorded, Geo-recorded, not labelled, Labelled and Geo-recorded, Not labelled nor geo-recorded, Labelled, Geo-recorded, Post-Fuzzy]
Index: []

Empty beds:
- 3X
- 1T
- 1Q
- 1A (obsoleted by L)
- LIH (intermountain habitat)
- OF (component)