In [3]:
import numpy as np

---
# Beds with number names

In [4]:
from parse_data import concise_df

df = concise_df('')

# number of rows in df
length = len(df.index)

# create uninitialized np array of booleans with length equal to number of df rows
mask = np.empty(shape=length,dtype=bool)

# turn into mask
for i in range(length):
    bed = df.iloc[i,0]
    if len(bed) < 3:
        print(f'Bed name is {bed} of type {type(bed)}.')
        np.put(mask,i,True)
    else:
        np.put(mask,i,False)

df.loc[mask]

Time taken to parse csv df into plottable df: 0.488897.
Memory used:
Index                                   128
Bed                                   19737
Species Count                           648
Item Count                              648
Label Stats                             324
Geo-record Stats                        324
Labelled, not geo-recorded              648
Geo-recorded, not labelled              648
Labelled and Geo-recorded               648
Not labelled nor geo-recorded           648
Labelled, Geo-recorded, Post-Fuzzy      648
dtype: int64.
Bed name is 1J of type <class 'str'>.
Bed name is 5 of type <class 'str'>.
Bed name is 1D of type <class 'str'>.
Bed name is 1R of type <class 'str'>.
Bed name is 5C of type <class 'str'>.
Bed name is 5B of type <class 'str'>.
Bed name is 5A of type <class 'str'>.
Bed name is 8 of type <class 'str'>.
Bed name is 1G of type <class 'str'>.
Bed name is 3A of type <class 'str'>.
Bed name is F of type <class 'str'>.
Bed name is RB of type <class 'str'>.
Bed name is 1M of type <class 'str'>.
Bed name is 2A of type <class 'str'>.
Bed name is 1C of type <class 'str'>.

,Bed,Species Count,Item Count,Label Stats,Geo-record Stats,"Labelled, not geo-recorded","Geo-recorded, not labelled",Labelled and Geo-recorded,Not labelled nor geo-recorded,"Labelled, Geo-recorded, Post-Fuzzy"
79,1J,53,99,61,7,58,4,3,34,2
164,5,10,11,27,0,3,0,0,8,0
180,1D,22,22,0,4,0,1,0,21,0
216,1R,6,6,33,0,2,0,0,4,0
235,5C,28,30,0,0,0,0,0,30,0
237,5B,17,17,0,0,0,0,0,17,0
238,5A,73,76,0,0,0,0,0,76,0
240,8,150,163,87,0,143,0,0,20,0
255,1G,1,1,0,0,0,0,0,1,0
266,3A,3,6,33,66,2,4,0,0,0
280,F,262,265,95,0,252,0,0,13,0
286,RB,1,1,0,0,0,0,0,1,0
318,1M,1,1,0,0,0,0,0,1,0
322,2A,7,7,100,0,7,0,0,0,0
323,1C,1,1,0,0,0,0,0,1,0

---
# Nursery, Herbarium, Nitobe, Garden Components

In [66]:
# number of rows in df
length = len(df.index)

# create uninitialized np array of booleans with length equal to number of df rows
mask = np.empty(shape=length,dtype=bool)

# turn into mask
for i in range(length):
    bed = df.iloc[i,0]
    if len(bed) < 4:
        np.put(mask,i,True)
    else:
        np.put(mask,i,False)

df.loc[mask]

,Bed,Species Count,Item Count,Label Stats,Geo-record Stats,Days since sightings
50,LFE,34,36,100,11,"[880, 916, 880, 881, 1286, 881, 881, 880, 881,..."
59,LAM,169,231,99,3,"[654, 562, 611, 2067, 565, 544, 544, 544, 508,..."
79,1J,53,99,61,7,"[1782, 1452, 2824, 2824, 2824, 4412, 4412, 211..."
164,5,10,11,27,0,"[18340, 4245, 4245, 22993, 22993, 17174, 14982..."
180,1D,22,22,0,4,"[14113, 9733, 9733, 6568, 17174, 17174, 17174,..."
216,1R,6,6,33,0,"[1123, 1181, 1181, 1098, 492, 844]"
235,5C,28,30,0,0,"[19365, 17904, 17904, 17904, 17904, 17904, 179..."
237,5B,17,17,0,0,"[17904, 17904, 17904, 17904, 17904, 17904, 179..."
238,5A,73,76,0,0,"[25549, 17904, 17904, 17904, 17904, 17904, 179..."
240,8,150,163,87,0,"[1305, 1802, 1669, 460, 1306, 1262, 75, 1626, ..."
255,1G,1,1,0,0,[4287]
266,3A,3,6,33,66,"[3418, 3418, 3418, 3418, 1221, 1221]"
280,F,262,265,95,0,"[611, 251, 251, 251, 251, 251, 251, 251, 251, ..."
286,RB,1,1,0,0,[1521]
318,1M,1,1,0,0,[761]
322,2A,7,7,100,0,"[565, 565, 565, 565, 565, 235, 184]"
323,1C,1,1,0,0,[166]

# Alpine garden code 1A is obsoleted by L

In [1]:
# number of rows in df
length = len(df.index)

# create uninitialized np array of booleans with length equal to number of df rows
mask = np.empty(shape=length,dtype=bool)

# turn into mask
for i in range(length):
    bed = df.iloc[i,0]
    if bed.startswith('1E'):
        np.put(mask,i,True)
    else:
        np.put(mask,i,False)

df.loc[mask]

NameError: name 'df' is not defined

Empty beds:
- 3X
- 1T
- 1Q
- 1A (obsoleted by L)
- LIH (intermountain habitat)
- OF (component)